@use 'emerson-floating-action-button.theme';

@mixin type($name:''){
  &-#{$name} {
    padding: 0;
    cursor: pointer;
    border-radius: 50px;
    font-style: normal;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    background-color: var(--btn-#{$name}-background);
    color: var(--btn-#{$name}-color);
    border: var(--btn-#{$name}-border-weight) solid var(--btn-#{$name}-border-color);
    box-shadow: 0px 4px 8px #17345C;
    &:hover{
      background-color: var(--btn-#{$name}-background--hover);
      color: var(--btn-#{$name}-color--hover);
      border: var(--btn-#{$name}-border-weight) solid var(--btn-#{$name}-border-color--hover);
    }
    &:active{
      background-color: var(--btn-#{$name}-background--active);
      color: var(--btn-#{$name}-color--active);
      border: var(--btn-#{$name}-border-weight) solid var(--btn-#{$name}-border-color--active);
    }
    &:focus{
      background-color: var(--btn-#{$name}-background--focus);
      color: var(--btn-#{$name}-color--focus);
      border: var(--btn-#{$name}-border-weight) solid var(--btn-#{$name}-border-color--focus);
    }
    &:disabled, [disabled] {
      cursor: not-allowed;
      background-color: var(--btn-#{$name}-background--disabled);
      color: var(--btn-#{$name}-color--disabled);
      border: var(--btn-#{$name}-border-weight) solid var(--btn-#{$name}-border-color--disabled);
    }
  }
}

.btn {
  @include type(filled);
  @include type(outlined);
  @include type(naked);

  &-uppercase {
    text-transform: uppercase;
  }

  &-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 18px 24px;
  }
}

emerson-icon {
  display: flex;
  align-items: center;
}
