@import './../palette';

.bottomappbar {
    // position: fixed; // if applied in app already future
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    // background: map-get($mat-emersonbase, e-navy) !important;
    // padding: 2em;
    // background-color: white;
  
    button {
      opacity: .6;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      span {
        display: block;
      }
    }
  }

  // ::ng-deep .mat-toolbar.mat-primary{
::ng-deep .mat-toolbar.mat-primary{
    background: map-get($mat-emersonbase, e-navy);
    color: $light-primary-text;
  }
  
  button:hover,
  .active-link {
    opacity: 1 !important;
  }
  